# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Obstacle Game 2020.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Ferdi\Documents\unity\udemy courses\Complete C# Unity Game Developer 3D\Obstacle Game\Obstacle Game 2020\Obstacle Game 2020\.idea\.idea.Obstacle Game 2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
